body{
    background-color: lightslategrey;
    color: rgb(58, 41, 66);
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    color:blueviolet;
    padding: 3px 20px;
    background-color:cornflowerblue;
    border-color: blueviolet;
    border-style: none;
}
input{
    height: 20px;
}
